body {
  display: flex;
  height: 100vh;
}

body > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main div {
  display: flex;
  flex-direction: row;
  flex: 1;
}

main > div > section {
  flex: 1;
}

/* SEARCH BAR TOP  */
nav {
  background-color: rgb(2, 189, 216);
}

/* SEARCH BAR LEFT  */
.left-side-nav {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  width: 150px;
}

.left-side-nav div {
  border-bottom: black 1px solid;
  height: 100px;
}

ul {
  list-style-type: none;
}

/* CREATES BOXES  */
section {
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
